<div class="container pt-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Add Employee</h3>
                    <form class="mt-4">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control form-control-lg" placeholder="Name">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-lg" placeholder="Last Name">
                            </div>
                        </div>
                        <input type="text" class="form-control form-control-lg mt-3" placeholder="Birthdate">
                        <input type="text" class="form-control form-control-lg mt-3" placeholder="Notes">

                        <div class="mt-3">
                            <button type="text" class="btn btn-secondary btn-lg" style="margin-right: 10px;" routerLink="/list-employees">Go back</button>
                            <button type="submit" class="btn btn-success btn-lg">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>